<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jon.earthquakes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jon.earthquakes.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jon.earthquakes.FragmentoLista"
            android:label="@string/title_activity_fragmento_lista" >
        </activity>
        <activity
            android:name="com.jon.earthquakes.PreferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="com.jon.earthquakes.DetalleActivity"
            android:label="@string/title_activity_detalle" >
        </activity>
        <provider
            android:name="com.jon.earthquakes.MyContentProvider" 
            android:authorities="com.jon.provider.earthquakes"
            android:exported="false" />
        
        <service android:enabled="true" android:name="com.jon.earthquakes.MyService"/>
        <receiver android:name="com.jon.earthquakes.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.jon.alarmaRefrescarTerremotos"></action>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
